# Node.js
node_modules/
npm-debug.log
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
.venv

# OS & Docker
.DS_Store
Thumbs.db
.docker/

# Prisma & Database
prisma/*.db
prisma/*.db-journal

# ML Models (Ignore model raksasa agar repo tidak bengkak)
*.pkl
*.h5
*.model